
<div class="row">
  <!-- Column -->
  <div class="col-lg-4 col-xlg-3 col-md-5">
    <div class="card">
      <div class="card-body">
        <div class="m-t-30 cardCliente"> <img src="../assets/images/users/5.jpg" class="img-circle" width="150">
          <h4 class="card-title m-t-10">{{cliente.nombre_cli}}</h4>
          <h6 class="card-subtitle">{{cliente.compania_cli}}</h6>
          <div class="row text-center justify-content-md-center">
            <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-medium">254</font></a></div>
            <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <font class="font-medium">54</font></a></div>
          </div>
        </div>
      </div>
      <div>
        <hr> </div>
      <div class="card-body"> 
        <small class="text-muted">E-mail</small>
        <h6>{{cliente.email_cli}}</h6> 
        <small class="text-muted p-t-30 db">Teléfono</small>
        <h6>{{cliente.telefono_cli}}</h6> 
        <small class="text-muted p-t-30 db">Social Profile</small>
        <br>
        <button class="btn btn-circle btn-secondary"><i class="fa fa-facebook"></i></button>
        <button class="btn btn-circle btn-secondary"><i class="fa fa-twitter"></i></button>
        <button class="btn btn-circle btn-secondary"><i class="fa fa-youtube"></i></button>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-8 col-xlg-9 col-md-7">
    <div class="card">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs profile-tab" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#settings" role="tab">Información general</a> </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">        
        <div class="tab-pane active" id="settings" role="tabpanel">
          <div class="card-body">
            <small class="text-muted">Nombre:</small>
            <h6>{{cliente.nombre_cli}}</h6> 
            <br>
            <small class="text-muted">Compañía:</small>
            <h6>{{cliente.compania_cli}}</h6> 
            <br>
            <small class="text-muted">E-mail:</small>
            <h6>{{cliente.email_cli}}</h6> 
            <br>
            <small class="text-muted">Teléfono:</small>
            <h6>{{cliente.telefono_cli}}</h6> 
            <br>
            <small class="text-muted">Fecha de nacimiento:</small>
            <h6 class="cumpleCli">{{cliente.fechanaci_cli | date: 'dd/MM/yyyy'}} <small *ngIf=" mensajeCumple != '' " class="btn-warning">{{mensajeCumple}}</small></h6> 
            <br>
            <small class="text-muted">Estado:</small>
            <h6 class="text-warning">{{estado}}</h6> 

            <button type="button" (click)="irActualizarCliente(cliente)" class="btn waves-effect waves-light btn-rounded btn-info">Actualizar Cliente</button> &nbsp;
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-warning">Enviar E-mail</button> &nbsp;
            <button type="button" (click)="volverListaClientes()" class="btn waves-effect waves-light btn-rounded btn-danger">Volver a la lista</button>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>